{{> head }}

{{> nvbar }}

<div class="row">

    <div class="col-8">
        <h1>Esta es mi imagen de prueba</h1>
        
    </div>



    <div class="col-8">
        <img src="/images/zelda.jpg" alt="Responsive image" class="img-thumbnail">
        
    </div>





</div>



{{> footer}}